@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body{margin: 0; padding: 0; font-family: 'Lato', sans-serif;font-size: 16px; color: #333; background: #fafafa}
img,input,a{text-decoration: none; outline: none; padding: 0; margin: 0}
a{color:#333; text-decoration: none; outline: none;}
h1,h2,h3,h4,h5,h6{padding: 0; margin: 0; text-align: left;}
float-left{float: left;}
float-right{float: right;}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


 

    * {
      box-sizing: border-box;
    }

.header-top{background: #174988; color: #fff; display: flex; justify-content: space-between; align-items: center; padding: 0 67px 0 99px;}
.header-top > .supporttext p{font-size: 16px; color: #fff; padding-top: 12px; padding-bottom: 10px;}
.header-top > .righttext{font-size: 16px; color: #fff; text-transform: uppercase;}
.header-top > .righttext a{color: #fff; margin: 0 41px; font-weight: 900;}
.header-top > .righttext a.redbtn{background:#ea1d24;padding: 14px 60px;}
.header-top > .righttext a.redbtn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.header-top > .righttext a.redbtn:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header-top > .righttext a.redbtn:hover:after, .header-top > .righttext a.redbtn:focus:after, .header-top > .righttext a.redbtn:active:after {
  right: 0;
}

.secound-header{background: #fff; padding: 22px 50px 22px 93px; width: 100%; display: flex; justify-content: space-between}
.secound-header .logo{width:252px;}
.secound-header-right{display: flex; justify-content: flex-end; align-items: center;}
.secound-header .menu{padding: 0; margin: 0; display: flex; justify-content: flex-end; align-items: center} 
.secound-header .menu ul{list-style: none; margin: 0; padding: 0;}
.secound-header .menu ul li{font-size: 20px; font-weight: 900; padding: 0 44px;display: inline-block}
.secound-header .menu ul li a {color: #000;}
.call{display: flex; justify-content: flex-end; align-items: center}
.call p{font-size: 45px; color: #ea1d24; font-weight: 900; text-align: center; line-height: 45px;}
.call p span{font-size: 30px; color:#174988;}
.mobile-menu,.mobile-menulist{display: none}
    .slider {
        width: 100%;
        margin: 0px auto;
    }

    .slick-slide {
      margin: 0px 0px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
		position: absolute;
	top: 50%;
		bottom:0;
		z-index: 9;
		width: 20px;
		height: 20px;
}
.slick-prev,
    .slick-next {
      color: black;
		position: absolute;
	top: 45%;
		bottom:0;
		z-index: 9;
		color: #f00;
		font-size: 50px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center; align-items: center;
}
.slick-next{right: 20px;}
.slick-prev{left: 20px;}
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
.home-slider{position: relative; margin-bottom: 20px;}
.sliderbg{background: url("../images/wave-1.png") no-repeat left bottom; width: 100%; background-size: 100%;float: left; max-height: 436px; position: absolute;  bottom:-1rem;  height: 100%;}
.caption{position: absolute; top:40%; width: 42%; padding-left: 100px; }
.caption h1{font-size: 50px; color: #fff; line-height: 50px; margin-bottom: 20px;}
.caption p{color: #fff; line-height: 22px;}
.container{max-width: 2222px; margin: 0 auto;}
.row{display: flex;}
.width70{width: 70%;}
.width30{width: 30%;}
hr{background: #000; width: 100%; height: 1px;}
h2{color: #174988; font-size: 40px; font-weight: 900; padding-bottom: 20px}
p{font-size: 18px; color: #000; line-height: 1.5em; padding-bottom: 10px;}
.btn-group{padding: 20px 0 0 0}
.btn{background: #174988; padding: 21px 57px; border: 0; outline: 0; color: #fff; font-size: 18px; font-weight: 600; margin-right: 60px; cursor: pointer;}
.btn:last-child{margin-right: 0;}
.btn:hover{}
.bluebtn { display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; -webkit-transition-property: color;  transition-property: color;  -webkit-transition-duration: 0.3s;  transition-duration: 0.3s;}
.bluebtn:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; background: #ea1d24; -webkit-transform: scaleY(0); transform: scaleY(0);  -webkit-transform-origin: 50%; transform-origin: 50%; -webkit-transition-property: transform; transition-property: transform;-webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.bluebtn:hover, .bluebtn:focus, .bluebtn:active { color: white;}
.bluebtn:hover:before, .bluebtn:focus:before, .bluebtn:active:before { -webkit-transform: scaleY(1);transform: scaleY(1);}
.bluebtn2 { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0);  transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative;}
.bluebtn2:before { content: ''; position: absolute; border: white solid 4px; top: 4px; left: 4px; right: 4px; bottom: 4px; opacity: 0; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: opacity;  transition-property: opacity;}
.bluebtn2:hover:before, .bluebtn2:focus:before, .bluebtn2:active:before {opacity: 1;}
.getstartformbg{width: 100%; display: flex; padding:0px; background: #fff; box-shadow:0px 0px 24px rgba(0,0,0,0.1); position: relative;margin-top: -116%; flex-direction: column; margin-bottom: 50px;}
.getstartformbg-top{background: #174988; padding: 55px 0 42px; display: flex; justify-content: center; align-items: center; width: 100%; flex-direction: column; color: #fff;}
.icon{display: flex; width: 100%; justify-content: center; align-items: center; padding-bottom: 20px;}
.icon a{color: #fff; font-size: 25px; margin: 0 3px}
.getstartformbg-top p{font-size: 20px; font-weight: 600; color: #fff}
.getstartformbg-top h3{display: flex; justify-content: center; align-items: center; width: 100%; text-align: center; line-height: 48px; font-size: 35px; font-weight: 800;}
.getstartform{width:100%; padding:80px 90px;}
.form-row{padding-bottom: 18px; width: 100%; display: flex; justify-content: space-between; align-items: center}
.width50{width: 49%; display: flex}
.width100{width: 100%;}
.textfiled{height: 65px; border: 2px solid #d2d2d2; color: #7f7f7f; padding: 0 0 0 30px; line-height: 70px; font-size: 18px; width: 100%;}
.textarea{height: 266px; border: 2px solid #d2d2d2; color: #7f7f7f; padding: 20px 0 0 30px; font-size: 18px; width: 100%;}
.redbtn{background: #ea1d24; padding: 21px 57px; border: 0; outline: 0; color: #fff; font-size: 18px; font-weight: 900; margin-right: 60px; cursor: pointer;}
.redbtn { display: inline-block; vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
.redbtn:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #174988; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 0;  transform-origin: 50% 0;
  -webkit-transition-property: transform;  transition-property: transform;  -webkit-transition-duration: 0.3s;  transition-duration: 0.3s;  -webkit-transition-timing-function: ease-out;  transition-timing-function: ease-out;}
.redbtn:hover, .redbtn:focus, .redbtn:active { color: white;}
.redbtn:hover:before, .redbtn:focus:before, .redbtn:active:before { -webkit-transform: scaleY(1); transform: scaleY(1);}
.servicebg{width: 100%; display: flex; padding: 80px 0 50px;}
.width20{width:25%; display: inline-flex; justify-content: center; align-items: center; flex-direction: column}
.center{width: 100%; text-align: center;}
.icons{padding-bottom: 30px;}
h4{font-size: 20px; line-height: 30px; font-weight: 900;}
.emptybg{width: 100%;}
.emptybg img{width: 100%;}
.secoundbg{background: #fafafa url("../images/bannerbg2.jpg") no-repeat top right; padding: 449px 0 550px; margin: 100px 0 550px; height: 1587px; display: flex; justify-content: center; align-content: center;}
.textbox{background: #fff; width: 100%; padding: 30px;margin-top: 0%;}
.textbox h2{font-size: 50px;}
.titleimg{height: 35px;}
.footer{width: 100%; display: flex; justify-content: center; align-items: center; position: relative;bottom: 0; background: #ededed; padding: 390px 0 84px; flex-direction: column}
.footerimg{position: absolute; top:0;}
.footerimg img{width: 100%}
.footer-container{width: 1840px; margin: 0 auto;}
.footer-logobg{width: 754px; float: left; padding-left: 132px; padding-top: 10px;}
.footer-logobg img{height: 100px;}
.footer-logobg p{color: #174988;}
.footer-logobg p a{color: #174988; margin-right: 15px;}
.footer-logobg p a i{font-size: 48px;}
.footerbox{width: 375px; display: inline-flex;}
.footerbox ul{list-style: none; padding: 0 0 30px; margin: 0;}
.footerbox ul li{padding: 0 0 26px 0; text-transform: uppercase;}
.footerbox ul li a{color: #000; font-weight: 900;}
.footerbox2{width: 326px; display: inline-flex;}
.footerbox2 ul{list-style: none; padding: 0; margin: 0;}
.footerbox2 ul li{padding: 0 0 26px 0; text-transform: uppercase;}
.footerbox2 ul li a{color: #000; font-weight: 900;}
.footerhr{background: #174988; height: 2px;}
.copytext{padding: 25px 0 0; font-size: 18px; color: #000;}

@media Screen and (max-width:2222px){
	.container{padding: 0 20px}
	.footer-container{padding: 0 20px; width: 100%;}
	.secound-header .menu ul li{padding: 0 22px}
}
@media Screen and (max-width:1854px){
	.width70{width: 60%;}
	.width30{width: 40%;}
	.footer-logobg{width: 38%; padding-left: 0}
	.footerbox{width: 20%}
	.footerbox2{width: 20%}
	.icons{display: flex; justify-content: center;}
	.icons img{width: 50%;}
}

@media Screen and (max-width:1460px){
	.header-top{padding-left: 25px; padding-right: 24px}
	.secound-header{padding: 22px 30px 22px 25px;}
	.secound-header .menu ul li{padding: 0 8px; font-size: 17px;}
	.call p{font-size: 30px; line-height: 30px}
	.call p span{font-size: 20px;}
	.header-top > .righttext a{margin: 0 26px}
	.secound-header .logo{width: 165px;}
}
@media Screen and (max-width:1100px){.getstartform{padding-left: 35px; padding-right: 35px}}
@media Screen and (max-width:980px){
	.width70{width: 50%;}
	.width30{width: 50%;}
	.getstartformbg{margin-top: -26%;}
	.btn{padding: 15px 24px;margin-right: 20px;}
	.header-top > .righttext a { color: #fff; margin: 0 15px; font-weight: 900;}
	.header-top > .righttext a.redbtn {padding: 14px 30px;}
	.mobile-menu{width: 45px; height: 45px; background: #ea1d24; display: flex; justify-content: center; align-items: center; margin-left: 20px;}
	.mobile-menu i{color: #fff; font-size: 20px;}
	.secound-header .menu{display: none}
	.mobile-menulist{width: calc(100% - 40px);  background: #ea1d24; padding: 30px;  margin: -34px 20px 0; display: none}
	.mobile-menulist ul{list-style: none; margin: 0; padding: 0;}
.mobile-menulist ul li{font-size: 20px; font-weight: 900; padding: 0 0px 10px;display:block}
.mobile-menulist ul li a {color: #fff;}
	.header-top{padding-left: 35px;}
	.secound-header{padding-left: 35px}
}
@media Screen and (max-width:900px){
	.width70{width: 100%;}
	.width30{width: 100%;}
	.getstartformbg{margin-top:20px;}
	.row{flex-direction: column;}
	.header-top > .righttext a.redbtn{padding-left: 17px; padding-right: 17px;}
}
@media Screen and (max-width:800px){
	.footer-logobg{width: 100%; padding-left: 0}
	.footerbox{width: 100%}
	.footerbox2{width: 100%}
	.header-top{flex-direction: column;}
	.supporttext{display: flex;justify-content: center; align-items: center}
}
@media Screen and (max-width:767px){
	.header-top > .supporttext p{text-align: center;}
	.secound-header{flex-direction: column; justify-content: center; align-items: center}
	.header-top{padding-left: 20px;}
	.servicebg{flex-direction: column}
	.width20{width: 100%; padding-bottom: 30px;}
	.caption h1 {
    font-size: 32px;
    color: #fff;
    line-height: 37px;
    margin-bottom: 20px;
}
	.btn{width: 100%; margin-right: 0; margin-bottom: 20px;}
	.width50{width:100%;}
	.form-row{flex-direction: column;}
	.form-row .width50:first-child{margin-bottom: 18px;}
	.header-top > .righttext {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
	.header-top > .righttext a{margin-bottom: 16px;}
.caption {
    position: absolute;
    top: 11%;
    width:100%;
    padding-left:60px;
}
	.secoundbg{margin-bottom: 40px;}
	.footer{padding-top: 90px;}
	.copytext{width: 100%; text-align: center;}
}